h2,
p {
  margin: 0;
}

body {
  width: 100vw;
  height: 4378px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: url("./bg.jpg") no-repeat center top;
  background-size: 2560px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  position: absolute;
  top: 977px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .pr-list {
  z-index: 100;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .pr-list .pr {
  position: relative;
  width: 300px;
  height: 200px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .pr-list .pr:first-child::before {
  opacity: 0;
}

.container .pr-list .pr::before {
  position: absolute;
  top: 35px;
  left: 0;
  content: '';
  width: 1px;
  height: 140px;
  background-color: #E1E7FF;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.container .pr-list .pr::after {
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 6px;
  -webkit-transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: scale(0.88);
          transform: scale(0.88);
  -webkit-box-shadow: 0px 0px 0px #B3B6D1, 0px 0px 0px rgba(179, 182, 209, 0);
          box-shadow: 0px 0px 0px #B3B6D1, 0px 0px 0px rgba(179, 182, 209, 0);
}

.container .pr-list .pr .pr-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .pr-list .pr .pr-1 img {
  opacity: 1;
  margin-bottom: 30px;
  -webkit-transition: all 0.26s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.26s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container .pr-list .pr .pr-1 h2 {
  opacity: 1;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #3A416F;
  margin-bottom: 16px;
  -webkit-transition: all 0.26s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.26s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.05s;
          transition-delay: 0.05s;
}

.container .pr-list .pr .pr-1 p {
  opacity: 1;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #5D6494;
  -webkit-transition: all 0.26s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.26s cubic-bezier(0.075, 0.82, 0.165, 1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-delay: 0.08s;
          transition-delay: 0.08s;
}

.container .pr-list .pr:hover + .pr::before {
  opacity: 0;
}

.container .pr-list .pr:hover::before {
  opacity: 0;
}

.container .pr-list .pr:hover::after {
  -webkit-box-shadow: 0px 1px 2px #B3B6D1, 0px 1px 5px rgba(179, 182, 209, 0.5);
          box-shadow: 0px 1px 2px #B3B6D1, 0px 1px 5px rgba(179, 182, 209, 0.5);
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.container .pr-list .pr:hover .pr-1 img,
.container .pr-list .pr:hover .pr-1 h2,
.container .pr-list .pr:hover .pr-1 p {
  opacity: 0;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.container .pr-list .pr:hover .pr-2 img,
.container .pr-list .pr:hover .pr-2 h2,
.container .pr-list .pr:hover .pr-2 p,
.container .pr-list .pr:hover .pr-2 i {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.container .pr-list .pr:hover .pr-2 .top::before {
  opacity: 1;
  -webkit-transform: translateY(0) scaleX(1);
          transform: translateY(0) scaleX(1);
}

.container .pr-list .pr:hover .pr-2 i {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.container .pr-list .pr:active {
  opacity: 0.97;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.container .pr-list .pr:active::after {
  -webkit-box-shadow: 0 0 0 #B3B6D1, 0 0 0 rgba(179, 182, 209, 0);
          box-shadow: 0 0 0 #B3B6D1, 0 0 0 rgba(179, 182, 209, 0);
}

.container .pr-list .pr .pr-2 {
  position: absolute;
  height: 75%;
  padding: 28px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .pr-list .pr .pr-2 .top {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .pr-list .pr .pr-2 .top::before {
  opacity: 0;
  position: absolute;
  top: 64px;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E1E7FF;
  -webkit-transform: translateY(0) scaleX(0);
          transform: translateY(0) scaleX(0);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.02s;
          transition-delay: 0.02s;
}

.container .pr-list .pr .pr-2 .top img {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  width: 44px;
  height: 44px;
  margin-right: 6px;
  -webkit-transition: all 0.16s ease-out;
  transition: all 0.16s ease-out;
}

.container .pr-list .pr .pr-2 .top h2 {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: #3A416F;
  -webkit-transition: all 0.16s ease-out;
  transition: all 0.16s ease-out;
}

.container .pr-list .pr .pr-2 .top i {
  opacity: 0;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  position: absolute;
  right: 0;
  width: 24px;
  height: 24px;
  background: url("./icons/arrow.svg") no-repeat;
  background-size: cover;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: all 0.16s ease-out;
  transition: all 0.16s ease-out;
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.container .pr-list .pr .pr-2 p {
  opacity: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #5D6494;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: all 0.16s ease-out;
  transition: all 0.16s ease-out;
  -webkit-transition-delay: 0.02s;
          transition-delay: 0.02s;
}

.container .motions {
  top: 240px;
  position: absolute;
  width: 100vw;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(17.23%, #F7F9FC), color-stop(88.99%, rgba(252, 253, 254, 0.0001)));
  background: linear-gradient(0deg, #F7F9FC 17.23%, rgba(252, 253, 254, 0.0001) 88.99%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: hidden;
}

.container .motions .motion-wrap {
  position: relative;
  width: 1200px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .motions .motion-wrap .pr-motion-1 {
  width: 210px;
  left: 12%;
  z-index: 1;
  bottom: -10%;
}

.container .motions .motion-wrap .pr-motion-2 {
  bottom: -4%;
}

.container .motions .motion-wrap .pr-motion-3 {
  z-index: 1;
  right: 11%;
  bottom: 10%;
  height: 214px;
  border-radius: 18px;
}

.container .motions .motion-wrap .pr-motion-1,
.container .motions .motion-wrap .pr-motion-2,
.container .motions .motion-wrap .pr-motion-3 {
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  will-change: transform;
}

#svgBtn {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
  will-change: transform;
}

#success {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  will-change: transform;
}

#success2 {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  will-change: transform;
}

#scaner {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transform-origin: center;
          transform-origin: center;
  opacity: 0;
  will-change: transform;
}

#defaultBtn {
  -webkit-transform-origin: center;
          transform-origin: center;
  will-change: transform;
}

.scanerTransf {
  opacity: 1 !important;
  -webkit-animation: move 2s ease infinite forwards;
          animation: move 2s ease infinite forwards;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(240px);
            transform: translateY(240px);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  to {
    -webkit-transform: translateY(240px);
            transform: translateY(240px);
  }
}

.dot {
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.dots {
  -webkit-animation: dots 2s ease infinite both;
          animation: dots 2s ease infinite both;
}

@-webkit-keyframes dots {
  0%,
  100% {
    stroke-width: 4.96552;
    stroke: #9a9abc;
  }
  50% {
    stroke-width: 6;
    stroke: #e0e0ea;
  }
}

@keyframes dots {
  0%,
  100% {
    stroke-width: 4.96552;
    stroke: #9a9abc;
  }
  50% {
    stroke-width: 6;
    stroke: #e0e0ea;
  }
}

.passMotion {
  -webkit-animation: pass 0.7s ease forwards 0.8s;
          animation: pass 0.7s ease forwards 0.8s;
}

@-webkit-keyframes pass {
  from {
    stroke-dashoffset: 24px;
    stroke-dasharray: 24px;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 24px;
  }
}

@keyframes pass {
  from {
    stroke-dashoffset: 24px;
    stroke-dasharray: 24px;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 24px;
  }
}

#wave {
  opacity: 0;
  position: absolute;
  width: 1300px;
  -webkit-transform: scale(1) translateY(50px);
          transform: scale(1) translateY(50px);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wave svg {
  position: relative;
  z-index: 100;
}

#wave svg:first-child {
  left: 260px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

#wave svg:last-child {
  left: -290px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.waveShow {
  opacity: 1 !important;
  -webkit-transform: scale(1.3) translateY(50px) !important;
          transform: scale(1.3) translateY(50px) !important;
  -webkit-animation: waveMotion 1.4s infinite ease-out forwards;
          animation: waveMotion 1.4s infinite ease-out forwards;
}

@-webkit-keyframes waveMotion {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.3) translateY(50px);
            transform: scale(1.3) translateY(50px);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5) translateY(50px);
            transform: scale(1.5) translateY(50px);
  }
}

@keyframes waveMotion {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.3) translateY(50px);
            transform: scale(1.3) translateY(50px);
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.5) translateY(50px);
            transform: scale(1.5) translateY(50px);
  }
}

/*********** motion ************/
/*# sourceMappingURL=style.css.map */